*{
    margin: 0;
    padding: 0;
}
ul li{
position: absolute;
width: 1728px;
height: 79px;
left: 0px;
top: 0px;

background: #557AFF;
}
ul li a{
    position: absolute;
width: 147px;
height: 52px;
left: 80px;
top: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 42px;

color: #FFFFFF;
}