.hero-content h1{
    text-align: center;
}
.piechart1 {
    margin-top: 10px;
    display: block;
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-image: conic-gradient(
        pink 70deg, 
        lightblue 0 235deg, 
        orange 0);
}
.piechart1 {
    display: flex;
    justify-content: left;
    align-items: left;
}
.piechart2 {
    margin-top: 10px;
    display: block;
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-image: conic-gradient(
        pink 70deg, 
        lightblue 0 235deg, 
        orange 0);
}
.piechart2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.piechart3 {
    margin-top: 10px;
    display: block;
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-image: conic-gradient(
        pink 70deg, 
        lightblue 0 235deg, 
        orange 0);
}
.piechart3 {
    display: flex;
    justify-content: right;
    align-items: right;
}
.btn{
    position: absolute;
    top: 450px;
    left: 500px;
    cursor:pointer;
    display:inline-block;
    width:20%;
    background: rgb(68, 59, 74);
    color: rgb(255, 255, 255);
    padding: 15px;
    font-family: inherit;
    font-size: 16px;
    border: 0;
    border-radius: 5px;
}
footer{
    text-align: center;
    height: 40px;
    background-color: rgb(255, 255, 255);
}